#logo {
    position: absolute;
    width: 10vw;
    top: 5vw;
    left: 5vw;
}
#logotxt {
    position: absolute;
    top: 3vw;
    left: 17vw;
    height: 10vw;
    line-height: 10vw;
    font-size: xx-large;
}
#lgn {
    position: absolute;
    top: 15vw;
    left: 5vw;
}
#console {
    position: absolute;
    bottom: 3vw;
}
#output {
    position: absolute;
    bottom: 3vw;
    right: 0;
}