#mnb_bg {
    z-index: 10;
    position: fixed;
    width: 92%;
    height: calc(var(--vh, 1vh) * 8);
    top: calc(var(--vh, 1vh) * 90);
    border-top-left-radius: 7.5vw;
    border-top-right-radius: 7.5vw;
    background-color: #b26162;
    left: 0%;
    padding: calc(var(--vh, 1vh) * 2) 4% calc(var(--vh, 1vh) * 2) 4%;
    display: flex;
    flex-direction: column;
}
#mnb_inner {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mnb_ico {
    z-index: 10;
    width: 6vh;
    height: auto;
    align-self: center;
}
#mnb_blank {
    height: 4vh;
}